@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#menuBarra{
    background-color: transparent;
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%; 
    z-index: 1000;  
}
/*color barra de navegacio*/
#menuBarra ul li a {
    color: white; 
    text-decoration: none;
  }



/* colores predeterminados */
:root {
    --bg-color: #1c1c1c;
    --font-color: #fff;
    --secondary-bg-color: #00ff37;
    --font: "Poppins";
}

html{
    scroll-behavior: smooth;
}
/* barra de navegacion  */


/* Section inicio */

.inicio-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.691)), url('/img/natural_plants.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.slogan {
    font-size: 18px;
    color: #ffffff;
}

/*estilos para las cards*/
.card {
    transition: transform .3s; 
  }
  
  .card:hover {
    transform: scale(1.05); 
  }
  .card a {
    color: #f2f8ff; 
  }
  
  .card a:hover {
    color: #000000; 
    text-decoration: none; 
  }
  
  .card .card-img-top {
    transition: transform .3s;
  }
  
  .card:hover .card-img-top {
    transform: scale(1.1); 
  }